services:
  sourcelander-front:
    build:
      context: .
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3
    ports:
      - "3020:3000"
